body{
    color: #444444;
}
.body{
    min-height: 450px;
}
.primary{
    background: #0070ba !important;
    color:#ffffff !important;
}
.secondery{
    background: #2A2C43 !important;
    color:#ffffff !important;
}
.left{
    float:left !important;
}
input{
    color:#333333 !important;
    border-radius:5px !important;
}
button{
  border-radius:5px !important;
  padding: 10px !important;
  text-transform: capitalize !important;
  font-family: Arial, Helvetica, sans-serif !important;

}
.off-canvas{z-index: 1 !important}
h1,h2,h3, h4{
  font-weight: bold !important;
}

.list{
    margin-top:30px;
}
.list div{
    border-bottom:solid 1px #dedede;
    min-height: 90px;
}
.columns ul{
    list-style: none;
    
}
.right{float:right}
.columns ul li{
    float: left;
}
.columns ul li a{
    margin-left:10px;
    font-weight: bold;
}

h1{
    font-size: 32px !important;
}

h2{
    font-size: 28px !important;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0,0,0,0.2);
}
.btn-social {
    min-width: 200px;
}
.btn {
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 10px;
}
.btn span {
    color: #ffffff;
}
.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
